*{
    margin: 0;
    padding: 0;
    border: 0;
}
.body{
    height: 5000px;
}
a {
    text-decoration:none;   
}

ul {
    list-style:none;
}
body {
    font-size: 14px;
    font-family: 'pingFang-SC-Regular', '微软雅黑', Arial;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}